:root[data-v-scope]
{
    --color1: rgba(255, 255, 255, 0.936);
    --color2: red;
    --color3: orange;
    --color4: whitesmoke;
    --color5: gold;
 

    
}

img
{
  width: 60%;
  max-height: 200px;
  object-fit: contain;
}

ul
{
    list-style-position: inside;
    
}

ul li {
    
    text-align:  left;
  }

  footer {
    text-align: center;
    width: 100%;
    margin-top: 20px; 
  }
  
  footer a {
    display: inline-block;
  }
@font-face {
    font-family: 'firstfont';
    src: url('./font/Sansation_Regular.ttf') format('truetype');
    font-display: swap;
    
}
.header[data-v-scope]
{   grid-column: 1 / -1;
    text-align: center;
    background-color:var(--color1, white);
    font-family: 'firstfont', 'Times New Roman', serif;

}



@keyframes animation {
    0%   {background-color: var(--color4, white);}
    25%  {
         background-color: var(--color5, gold);
         transform: rotate(30deg);
        }
    50% {
            background-color: var(--color5, gold);
            transform: rotate(-30deg);
        }
    
    100% {background-color:var(--color4, white);}
  }

.box[data-v-scope]
{
    border: 2px solid  var(--color5, purple);
    background-color:whitesmoke;
    overflow: hidden;  
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count:1;
    color:black;



}


img
{
  width: 60%;
  max-height: 200px;
  object-fit: contain;
}



.box
{
    background-color: var(--color1, white);
    place-self:center;
    text-align:center;
    font-family: 'firstfont', 'Times New Roman', serif;
    
}



.grid
{
grid-template-rows:auto auto auto;
display: grid;
background-color: var(--color3,white);
row-gap: 5px;
column-gap: 5px;
padding: 5px;





& nav
{
    text-align: center;
    place-self: center;  
    padding: 10px 20px;
    background-color: var(--color4, gold);;
 
   
}




}

.p
{
    margin:2000px;
}


 /*i pad*/

 @media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid[data-v-scope]
    {
        grid-template-columns:70% 30%;
        row-gap: 80px;
    }
    .box img[data-v-scope] {   
        width: 100%;
        height: 100%;
        display: block;
      
        object-fit: fill;
        padding: 0;
     
    }

    .box p[data-v-scope]
    {
        font-size: 14px;
    }
  }

  
 @media screen and (min-width: 360px) and (max-width: 430px) {
    .grid[data-v-scope]
    {
        grid-template-columns:65% 35%;
        flex-direction: column;
        row-gap: 80px;
    
    }
    .box[data-v-scope]
    {
        flex:0 0 100%;
        
    }
    .box img[data-v-scope] {   
        width: 100%;
        height: 100%;
        display: block;
      
        object-fit: fill;
        padding: 0;
     
    }


   
  }